In [40]:
import json
import pandas as pd
import numpy as np

# text input
payload_Rose = '{"sex":"female","embarked":"S","class":"First","who":"","adult_male":"False","deck":null,"embark_town":"Southhampton","alone":"False","pclass":1,"age":20,"sibsp":0,"parch":0,"fare":1}'
payload_Jack = '{"sex":"male","embarked":"S","class":"Third","who":"","adult_male":"True","deck":null,"embark_town":"Southhampton","alone":"True","pclass":3,"age":20,"sibsp":0,"parch":0,"fare":1}'
# convert to integer columns: pclass sex age sibsp fare embarked who adult_male alone
data = json.loads(payload_Jack)
print(list(data.values()))
print(list(data.keys()))

df = pd.DataFrame([list(data.values())], columns = list(data.keys()))
df.head()

df = df.replace('', np.nan)
df['who'] = df['who'].fillna('man')
df['age'] = df['age'].fillna(0)
df['fare'] = df['fare'].fillna(0)
df['embarked'] = df['embarked'].fillna('S')  # most common embarkation port
df.head()

['male', 'S', 'Third', '', 'True', None, 'Southhampton', 'True', 3, 20, 0, 0, 1]
['sex', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alone', 'pclass', 'age', 'sibsp', 'parch', 'fare']

    sex embarked  class  who adult_male  ... pclass age sibsp  parch  fare
0  male        S  Third  man       True  ...      3  20     0      0     1

[1 rows x 13 columns]

In [37]:
# remove unused columns 
df = df.drop(['class', 'deck', 'embark_town', 'parch'], axis=1)
# convert non-numeric data
genders = {"male": 0, "female": 1}
df['sex'] = df['sex'].map(genders)

ports = {"S": 0, "C": 1, "Q": 2}
df['embarked'] = df['embarked'].map(ports)

who = {"man": 1, "woman": 2, "child": 0}
df['who'] = df['who'].map(who)

boool = {'True': 1, 'False': 0}
df['alone'] = df['alone'].map(boool)
df['adult_male'] = df['adult_male'].map(boool)

df['age'] = df['age'].astype(int)
df.loc[ df['age'] <= 11, 'age'] = 0
df.loc[(df['age'] > 11) & (df['age'] <= 18), 'age'] = 1
df.loc[(df['age'] > 18) & (df['age'] <= 22), 'age'] = 2
df.loc[(df['age'] > 22) & (df['age'] <= 27), 'age'] = 3
df.loc[(df['age'] > 27) & (df['age'] <= 33), 'age'] = 4
df.loc[(df['age'] > 33) & (df['age'] <= 40), 'age'] = 5
df.loc[(df['age'] > 40) & (df['age'] <= 66), 'age'] = 6
df.loc[ df['age'] > 66, 'age'] = 6

df['fare'] = df['fare'].astype(int)
df.loc[ df['fare'] <= 7.91, 'fare'] = 0
df.loc[(df['fare'] > 7.91) & (df['fare'] <= 14.454), 'fare'] = 1
df.loc[(df['fare'] > 14.454) & (df['fare'] <= 31), 'fare']   = 2
df.loc[(df['fare'] > 31) & (df['fare'] <= 99), 'fare']   = 3
df.loc[(df['fare'] > 99) & (df['fare'] <= 250), 'fare']   = 4
df.loc[ df['fare'] > 250, 'fare'] = 5

# reorder columns to match NN input
df = df[['pclass', 'sex', 'age', 'sibsp', 'fare', 'embarked', 'who', 'adult_male', 'alone']]

print(df.head())

   pclass  sex  age  sibsp  fare  embarked  who  adult_male  alone
0       1    1    2      0     0         0    1           0      0