In [43]:
import pandas as pd
from io import StringIO

In [49]:
train_data = """pclass,sex,age,sibsp,fare,embarked,who,adult_male,alive,alone
3,0,4,0,1,0,1,1,0,1
3,0,4,0,0,0,1,1,0,1
3,0,2,0,0,0,1,1,0,1
3,0,4,0,0,0,1,1,0,1
3,0,4,0,0,0,1,1,0,1
"""

In [45]:
data = [x.split(',') for x in train_data.split('\n')[1:len(train_data.split('\n'))-1]]
header = train_data.split('\n')[0].split(',')
# print([x for x in train_data.split('\n')[0].split(',')])
print(data)
[['3', '0', '4', '0', '1', '0', '1', '1', '0', '1'], ['3', '0', '4', '0', '0', '0', '1', '1', '0', '1'], ['3', '0', '2', '0', '0', '0', '1',
'1', '0', '1']]

[['3', '0', '4', '0', '1', '0', '1', '1', '0', '1'], ['3', '0', '4', '0', '0', '0', '1', '1', '0', '1'], ['3', '0', '2', '0', '0', '0', '1', '1', '0', '1']]

In [46]:
train_df = pd.DataFrame(data, columns=header)
train_df.head()

  pclass sex age sibsp fare embarked who adult_male alive alone
0      3   0   4     0    1        0   1          1     0     1
1      3   0   4     0    0        0   1          1     0     1
2      3   0   2     0    0        0   1          1     0     1

In [ ]:
# api.logger.info(train_data.split('\n')[1:4])
train_df = pd.DataFrame([x.split(',') for x in train_data.split('\n')[1:4]], columns=[x for x in train_data.split('\n')[0].split(',')])
# trainstring = StringIO(train_data)
# train_df = pd.read_table(trainstring, sep=",")
# train_df = train_df.dropna(how='any')  # remove any NAN e.g. last empty line
# train_df.drop(train_df.tail(1).index,inplace=True) # drop last row
api.logger.info(train_df.tail())

In [51]:
rows = train_data.split('\n')
l = len(rows) -1  # remove empty line at end of file which results in NAN 
data = [x.split(',') for x in rows[1:2]]
header = rows[0].split(',')
train_df = pd.DataFrame(data, columns=header)
train_df.head()

  pclass sex age sibsp fare embarked who adult_male alive alone
0      3   0   4     0    1        0   1          1     0     1